<link href="css/form.css" rel="stylesheet">

	<style>
    #slider {
      display: none;
    }
  </style>

	<div style="padding-top: 8%;">
        <div class="container">
          <div class="row">

            <div class="col-sm-2 col-lg-2">
            </div>
            
            <div class="col-sm-9 col-lg-9" >
              <div class="dash-unit">

                   <h1 style="text-align: center;">Add your recipe !!!</h1>
                   <br>
                    <div class="field">
                      <label for="name">Name :</label>
                      <input type="text" class="name" ng-model="Name">
                    </div>

                    

                    <div class="field">
                      <label for="type">Type :</label>
                      <input type="text" class="name" ng-model="Type">
                    </div>

                    <div class="field">
                      <input type="file" id="photo" name="photo">
                    </div>

                    <div class="field">
                      <label for="ingredients">Ingredients :</label>
                      <select name="ingredients" id="ingredients" ng-model="Ingredients">
                        <option value="">---Please select---</option>
                        <option value="Sugar" selected>Sugar</option>
                        <option value="Salt">Salt</option>
                        <option value="Milk">Milk</option>
                      </select>
                    </div>

                    <div class="field">
                      <label for="time">Time :</label>
                      <select name="cookingTime" ng-model="Time">
                        <option value="">---Please select---</option>
                        <option>0 - 10mn</option>
                        <option>10 - 20mn</option>
                        <option>30 - 40mn</option>
                        <option>50 - 1h</option>
                        <option> > 1h</option>
                      </select>
                    </div>

                    <div class="field">
                      <label for="msg">Description :</label>
                      <textarea id="recipeField" ng-model="Description"></textarea>
                    </div>
                   
                    <div class="button">
                      <button ng-click="add(Name, Type, Ingredients, Time, Description)">Save recipe</button>
                    </div>

                    <pre> MESSAGE : {{ addRecipe.message }}</pre>

              </div>
            </div>
            
            </div>
        </div>
      </div>
    </div>

