<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">
    <link href="/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/bootstrap-3.3.5/dist/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <script src="/jquery/1.11.3/jquery-1.11.3.js"></script>
    <script src="/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>--

    <link href="/stylesheets/home.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black; opacity: 0.8;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" ><img class ="navbar-brand" src="/images/donut.png"/>
        </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/addIngredients">Add Ingredients</a></li>
                <li><a href="/addRecipe">Add Recipe</a></li>
              </ul>
            </div>
          </div>

            <button type="submit" class="btn btn-success">Sign out</button>
          </form>
        </div>
      </div>
    </nav>

    <!--<script src="/jquery/1.11.3/jquery-1.11.3.js"></script>--
    <script src="/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>

  </body>
</html>-->


<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
        <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/stylesheets/animate.min.css">

    <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- Js -->
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->

    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    <script src="/js/jquery.nav.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
  <!--
  header-img start 
  ============================== -->
    <section id="hero-area">
      <img class="img-responsive" src="/images/header.jpg" alt="">
    </section>
  <!--
    Header start 
  ============================== -->
  <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand">
                                    <!--<img src="/images/logo.png" alt="Logo">-->
                                    <h1>Nourriture</h1>
                                  </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/addRecipe">Recipes</a></li>
                                <li><a href="/addIngredients">Ingredients</a></li>
                                <li><a href="/#about-us">about us</a></li>
                                <li><a href="/#contact-us">contact us</a></li>
                                <li><a href="/logIn">Log in</a></li>
                              </ul>
                            </div>
                          </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
  </nav>
</body>
</html>
